<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>News</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="Container mt-5">
    <h1>News Details</h1>
    <div th:each="art : ${news}" class="alert alert-info mt-2">
        <h3 th:text="${art.title}"></h3>
        <p th:text="${art.full_text}"></p>
        <p th:text="${art.views}"></p>
        <a th:href="'/news/' + ${art.id} + '/edit'" class="btn btn-warning">Edit</a><br><br>
        <form th:action="'/news/' + ${art.id} + '/remove'" method="post">
            <button type="submit" class="btn btn-warning">Remove</button>
        </form>
    </div>
</div>
</body>
</html>