<div th:fragment="header">
        <nav class="d-inline-flex mt-2 mt-md-2 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Home</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/news">News</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/about">About us</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/news/add">News add</a>
        </nav>
    </div>
</div>